.App {
  font-family: sans-serif;
  text-align: center;
}

.field {
  margin-top: 16px;
  margin-left: 0px;
  margin-bottom: 40px;
  width: 100%;
}

multi-select-chips {
  display: 'flex';
  flex-wrap: 'wrap';
}
multi-select-chip {
  margin: 2px;
}
